---

- block:

    - name: add backup and restore config
      template:
        src: backup.config.j2
        dest: /usr/local/etc/backup.config
        mode: 0644

    - name: add backup script
      template:
        src: backup-icinga2.sh.j2
        dest: /usr/local/bin/backup-icinga2.sh
        mode: 0755

    - name: add restore script
      template:
        src: restore-icinga2.sh.j2
        dest: /usr/local/bin/restore-icinga2.sh
        mode: 0755

    - name: detect crontab
      stat:
        path: /usr/bin/crontab
      register: _crontab_script

    - name: configure backup script 2/m with cron
      cron:
        name: "icinga2 backup"
        minute: '0'
        hour: '23'
        day: 2,16
        user: root
        job: /usr/local/bin/backup-icinga2.sh
        cron_file: backup_icinga2
      when:
        - _crontab_script.stat.exists

  when:
    - icinga2_primary_master is defined and icinga2_primary_master == ansible_fqdn

- block:

    - name: define primary icinga2 master
      set_fact:
        icinga2_primary_master: "{{ icinga2_masters | primary_master }}"

    - name: check if backup script present
      stat:
        path: /usr/local/bin/backup-icinga2.sh
      register: icinga2_backup_script

    - name: run backup script
      shell: >
        /usr/local/bin/backup-icinga2.sh
      when:
        - icinga2_primary_master is defined and icinga2_primary_master == ansible_fqdn
        - icinga2_backup_script.stat.exists

    - name: transfer latestes backup to ansible host '{{ icinga2_local_backupdir }}'
      fetch:
        src: "{{ icinga2_backupdir }}/latest.tar.bz2"
        dest: "{{ icinga2_local_backupdir }}/"
        flat: true
      delegate_to: '{{ icinga2_primary_master }}'
      when:
        - icinga2_primary_master is defined and icinga2_primary_master == ansible_fqdn
        - icinga2_backup_script.stat.exists

    - name: transfer latestes checksum to ansible host
      fetch:
        src: "{{ icinga2_backupdir }}/latest.tar.bz2.sha512"
        dest: "{{ icinga2_local_backupdir }}/"
        flat: true
      delegate_to: '{{ icinga2_primary_master }}'
      when:
        - icinga2_primary_master is defined and icinga2_primary_master == ansible_fqdn
        - icinga2_backup_script.stat.exists

  when:
    - icinga2_master_backup_enabled is defined and icinga2_master_backup_enabled | bool

  tags:
    - icinga2_master
    - backup
