---

# primary master
#
- block:
    #
    - name: check if {{ icinga2_pki_cadir }}/ca.crt exists
      stat:
        path: "{{ icinga2_pki_cadir }}/ca.crt"
      register: _icinga2_ca_file
      tags:
        - icinga2

    - name: create icinga2 CA
      command: "{{ item }}"
      with_items:
        - icinga2 pki new-ca
        - icinga2 pki new-cert
          --cn {{ icinga2_certificate_cn }}
          --key {{ icinga2_pki_dir }}/{{ inventory_hostname }}.key
          --csr {{ icinga2_pki_dir }}/{{ inventory_hostname }}.csr
        - icinga2 pki sign-csr
          --csr {{ icinga2_pki_dir }}/{{ inventory_hostname }}.csr
          --cert {{ icinga2_pki_dir }}/{{ inventory_hostname }}.crt
      when:
        not _icinga2_ca_file.stat.exists
      tags:
        - icinga2
      ignore_errors: false

    # renew stat with the ca and cert files
    #
    - name: check if {{ icinga2_pki_cadir }}/ca.crt exists
      stat:
        path: "{{ icinga2_pki_cadir }}/ca.crt"
      register: _icinga2_ca_file

    - name: check if {{ icinga2_pki_cadir }}/{{ icinga2_certificate_cn }}.crt exists
      stat:
        path: "{{ icinga2_pki_dir }}/{{ icinga2_certificate_cn }}.crt"
      register: _icinga2_certificate_file

    - name: ensure ca.crt is replicate in pki directory
      copy:
        src: "{{ icinga2_pki_cadir }}/ca.crt"
        dest: "{{ icinga2_pki_dir }}/ca.crt"
        owner: "{{ icinga2_user }}"
        group: "{{ icinga2_group }}"
        mode: 0640
        remote_src: true
      tags:
        - icinga2
      when:
        _icinga2_ca_file.stat.exists

    - name: symlink pki files from {{ inventory_hostname }} to {{ icinga2_certificate_cn }}
      file:
        src: "{{ icinga2_pki_dir }}/{{ inventory_hostname }}.{{ item }}"
        dest: "{{ icinga2_pki_dir }}/{{ icinga2_certificate_cn }}.{{ item }}"
        owner: "{{ icinga2_user }}"
        group: "{{ icinga2_group }}"
        state: link
      with_items:
        - key
        - crt
      when: (
        inventory_hostname != icinga2_certificate_cn and
        not _icinga2_certificate_file.stat.exists)

  when: icinga2_primary_master is defined and icinga2_primary_master == ansible_fqdn
