---

- block:

    - name: ensure aide is already installed
      stat:
        path: /usr/bin/aide
      register: _aide_installed

    - name: ensure aide.conf.d directory exists
      file:
        dest: /etc/aide/aide.conf.d
        state: directory
        mode: 0755
      when: (
        _aide_installed.stat.exists== true)

    - name: add additional aide HIDS configuration
      copy:
        src: aide/aide.conf.d/99_aide_local_icinga2
        dest: /etc/aide/aide.conf.d/99_aide_local_icinga2
        mode: 0644
      when: (
        _aide_installed.stat.exists== true)

  when: (
    icinga2_aide_enabled is defined and
    icinga2_aide_enabled == true)
