{{ ansible_managed | comment }}

{% if ansible_distribution | lower == 'ubuntu' %}
# Focal Fossa   = 20.04
# Eoan Ermine   = 19.10
# Disco Dingo   = 19.04
# Bionic Beaver = 18.04 (LTS)
# Xenial Xerus  = 16.04 (LTS)
{% if ansible_distribution_major_version | int == 19 -%}
{% set ansible_distribution_release = "disco" -%}
{% endif -%}
{% endif -%}

deb https://packages.icinga.com/{{ ansible_distribution | lower }} icinga-{{ ansible_distribution_release | lower }} main
