#jinja2: trim_blocks: True, lstrip_blocks: True
// {{ ansible_managed }}

{% if icinga2_api.user is defined and
      icinga2_api.user | count != 0 %}
  {% for api_user  in icinga2_api.user %}
object ApiUser "{{ api_user }}" {
  {% for key, value in icinga2_api.user[api_user].items() %}
    {% if key == 'permissions' %}
  {{ key }} = [ "{{ value | join('", "') }}" ]
    {% else %}
  {{ key }} = "{{ value }}"
    {% endif %}
  {% endfor %}
}

  {% endfor %}
{% endif %}
