// {{ ansible_managed }}

const PluginDir          = "{{ monitoring_plugins_directory }}"
const ManubulonPluginDir = "{{ monitoring_plugins_directory }}"
const PluginContribDir   = "{{ monitoring_plugins_directory }}"
const LogDir             = "{{ icinga2_mainlog_directory }}"
{% if icinga2_installed_version is version( '2.11.2', '<' ) %}
const NodeName           = "{{ icinga2_certificate_cn }}"
const ZoneName           = NodeName
{% endif %}
const TicketSalt         = "{{ icinga2_salt }}"
