#jinja2: trim_blocks: True, lstrip_blocks: True
// {{ ansible_managed }}

{% for service in icinga2_service_downtimes %}
apply ScheduledDowntime "{{ service }}" to Service {
  {% for k,v in icinga2_service_downtimes[service].items() %}
    {% if v is mapping %}
  {{ k }} = {
      {% for k2, v2 in v.items() %}
    {{ k2 }} = {{ v2 }}
      {% endfor %}
  }
    {% else %}
      {% if k == 'assign_where' %}
  assign where {{ v }}
      {% else %}
  {{ k }} = "{{ v }}"
      {% endif %}
    {% endif %}
  {% endfor %}
}

{% endfor %}

{% for host in icinga2_host_downtimes %}
apply ScheduledDowntime "{{ host }}" to Host {
  {% for k,v in icinga2_host_downtimes[host].items() %}
    {% if v is mapping %}
  {{ k }} = {
      {% for k2, v2 in v.items() %}
    {{ k2 }} = {{ v2 }}
      {% endfor %}
  }
    {% else %}
      {% if k == 'assign_where' %}
  assign where {{ v }}
      {% else %}
  {{ k }} = "{{ v }}"
      {% endif %}
    {% endif %}
  {% endfor %}
}

{% endfor %}
