#jinja2: trim_blocks: True, lstrip_blocks: True
// {{ ansible_managed }}

include "constants.conf"
{% if icinga2_mode == 'master' %}
  {% if icinga2_primary_master is defined and
        icinga2_primary_master == ansible_fqdn %}
// includes all master zones and definitions
// include_recursive "masters.d"
  {% endif %}
// includes all satellite zones and definitions
include_recursive "satellites.d"
// includes all notification definitions
include_recursive "notifications"

  {% if icinga2_primary_master is defined and
        icinga2_primary_master == ansible_fqdn %}
// include "hosts.conf"
include "groups.conf"
include "users.conf"
include "downtimes.conf"
  {% endif %}
include "api-users.conf"
{% endif %}

include "global-templates.conf"
// The zones.conf defines zones for a cluster setup
include "zones.conf"

include <itl>
include <plugins>
include <plugins-contrib>
include <manubulon>
// include <windows-plugins>
// include <nscp>
include "features-enabled/*.conf"
// include_recursive "conf.d"
