{{ ansible_managed | comment(decoration='// ') }}
{% if icinga2_mode == 'satellite' %}
{% set satellite_ip = lookup('pipe', 'host ' + ansible_fqdn   + ' | grep "has address" | cut -d" " -f4') %}
{% set master_ip    = lookup('pipe', 'host ' + icinga2_master + ' | grep "has address" | cut -d" " -f4') %}
// satellite: {{ ansible_fqdn }}  - {{ satellite_ip }}
// master   : {{ icinga2_master }} - {{ master_ip }}

object Endpoint "{{ ansible_fqdn }}" { host = "{{ satellite_ip }}"; port = "5665" }
object Zone "{{ ansible_fqdn }}" { parent = "master" ; endpoints = [ "{{ ansible_fqdn }}" ] }
// object Zone "{{ ansible_fqdn }}" { parent = "{{ icinga2_master }}" ; endpoints = [ "{{ ansible_fqdn }}" ] }

{% endif %}
