#jinja2: trim_blocks: True, lstrip_blocks: True
// {{ ansible_managed }}

{% if icinga2_host_object is defined and
      icinga2_host_object | count != 0 %}
  {% for key, v in icinga2_host_object.items() %}
// satellie-zone - {{ key }}
    {% if v['endpoint_name'] is defined %}
      {% set _name = v['endpoint_name'] %}
      {% set _v = v.pop('endpoint_name') %}
    {% else %}
      {% set _name = key %}
    {% endif %}
    {% if v['zone'] is defined %}
      {% set _zone = v['zone'] %}
      {% set _v = v.pop('zone') %}
    {% else %}
      {% set _zone = ansible_fqdn %}
    {% endif %}
    {% if icinga2_satellites[icinga2_satellite_zone] is defined and
          icinga2_satellites[icinga2_satellite_zone][_name] is defined and
          icinga2_satellites[icinga2_satellite_zone][_name]['ip'] is defined %}
      {% set satellite_ip = icinga2_satellites[icinga2_satellite_zone][_name]['ip'] %}
    {% else %}
      {% set satellite_ip = lookup('pipe', 'host ' + ansible_fqdn   + ' | grep "has address" | cut -d" " -f4') %}
    {% endif %}
    {% if v['display_name'] is defined %}
      {% set display_name = v['display_name'] %}
      {% set _v = v.pop('display_name') %}
    {% endif %}

object Host "{{ _name }}" {
    {% if satellite_ip is defined and satellite_ip | length != 0 %}
  address = "{{ satellite_ip }}"
    {% endif %}
    {% if display_name is defined %}
  display_name = "{{ display_name }}"
    {% endif %}
  command_endpoint = "{{ ansible_fqdn }}"
  zone = "{{ _zone }}"
    {% for ke,ve in v.items() | sort %}
      {% if ke == 'import' %}
  {{ ke }} "{{ ve }}"
      {% elif ke == 'groups' %}
  {{ ke }} = ["{{ ve | join('","') }}"]
      {% elif ke == 'vars' %}
  vars = {
    {{ ve | indent(4) }}
  }
      {% else %}
  {{ ke }} = "{{ ve }}"
      {% endif %}
    {% endfor %}
}
  {% endfor %}
{% endif %}
