{{ ansible_managed | comment(decoration='// ') }}
{% if icinga2_mode == 'satellite' %}
{% set satellite_ip = lookup('pipe', 'host ' + icinga2_certificate_cn   + ' | grep "has address" | cut -d" " -f4') %}
{% set master_ip    = lookup('pipe', 'host ' + icinga2_master + ' | grep "has address" | cut -d" " -f4') %}
// satellite: {{ icinga2_certificate_cn }}  - {{ satellite_ip }}
// master   : {{ icinga2_master }} - {{ master_ip }}

object Endpoint "{{ icinga2_certificate_cn }}" { host = "{{ satellite_ip }}"; port = "5665" }
object Zone "{{ icinga2_certificate_cn }}" { parent = "master" ; endpoints = [ "{{ icinga2_certificate_cn }}" ] }

{% endif %}
