// {{ ansible_managed }}

{% for u in icinga2_notification_user | sort -%}
object User "{{ u }}" {
{% for k,v in icinga2_notification_user[u].items() | sort %}

  {%- if k == 'import' %}{{ k }} "{{ v }}"
  {% elif k == 'groups' %}{{ k }} = ["{{ v|join('","') }}"]
  {% else %}
  {{ k }} = "{{ v }}"
  {% endif -%}
{% endfor %}
}
{% endfor %}


{% for u in icinga2_notification_usergroups | sort %}
object UserGroup "{{ u }}" {
{% for k,v in icinga2_notification_usergroups[u].items() | sort %}
{{ k }} = "{{ v }}"
}
{% endfor %}
{%- endfor -%}
