#jinja2: trim_blocks: True, lstrip_blocks: True
// {{ ansible_managed }}
{% import 'templates/macros.j2' as tpl with context %}

{#
 #  icinga2 master or primary
 #}
{% if icinga2_masters is mapping %}
  {% set icinga2_reordered_masters = icinga2_masters | reorder_master %}
  {% set icinga2_master = '' %}
  {% set _keys = icinga2_reordered_masters.keys() %}
  {% for endpoint in _keys %}
{{
  tpl.endpoint(
    endpoint = endpoint,
    host = icinga2_reordered_masters[endpoint]['ip']
  ) | indent(0, first=False)
}}
   {% endfor %}
{{
  tpl.zone(
    endpoints = _keys,
    zone = "primary"
  ) | indent(0, first=False)
}}
{% endif %}
{#
 #  icinga2 satellite
 #}
{% if icinga2_mode == 'satellite' %}
// icinga2_satellite_zone: {{ icinga2_satellite_zone }}
// icinga2_satellites    : {{ icinga2_satellites }}
  {% if icinga2_satellite_zone is defined %}
    {% if icinga2_satellites is mapping %}
      {% if icinga2_satellites[icinga2_satellite_zone] is defined %}
        {% set _keys = icinga2_satellites[icinga2_satellite_zone].keys() %}
        {% for endpoints in _keys %}
{{
  tpl.endpoint(
    endpoint = endpoints,
    host = icinga2_satellites[icinga2_satellite_zone][endpoints]['ip']
  ) | indent(0, first=False)
}}
        {% endfor %}
{{
  tpl.zone(
    zone = icinga2_satellite_zone,
    endpoints = _keys, parent = "primary"
  ) | indent(0, first=False)
}}
      {% else %}
// no zone config for '{{ icinga2_satellite_zone }}' found!
{{
  tpl.endpoint(
    endpoint = icinga2_satellite_zone,
    host = icinga2_satellite_zone
  ) | indent(0, first=False)
}}
{{
  tpl.zone(
    zone = icinga2_satellite_zone,
    endpoints = icinga2_satellite_zone, parent = "primary"
  ) | indent(0, first=False)
}}
      {% endif %}
    {% else %}
      {# use dns resolver on ansible controller #}
      {% set _ip = lookup('pipe', 'host ' + icinga2_satellite_zone   + ' | grep "has address" | cut -d" " -f4') %}
      {% if _ip | length == 0 %}
        {% set _ip = icinga2_satellite_zone %}
      {% endif %}
{{
  tpl.endpoint(
    endpoint = icinga2_satellite_zone,
    host = _ip
  ) | indent(0, first=False)
}}
{{
  tpl.zone(
    zone = icinga2_satellite_zone,
    endpoints = icinga2_satellite_zone, parent = "primary"
  ) | indent(0, first=False)
}}
    {% endif %}
  {% endif %}
{% endif %}

object Zone "global-templates" { global = true }
object Zone "director-global"  { global = true }
