#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}

{% if icinga2_sudo_cmd is defined and
      icinga2_sudo_cmd | count > 0 %}
  {% for value in icinga2_sudo_cmd %}
{{ icinga2_user }} ALL=(ALL) NOPASSWD: {{ value }}
  {% endfor %}
{% endif %}
