#jinja2: trim_blocks: True, lstrip_blocks: True
// {{ ansible_managed }}
{# full documentation: https://icinga.com/docs/icinga2/latest/doc/09-object-types/#apilistener #}
{% set _attr = [
  'ticket_salt',
  'crl_path',
  'bind_host','bind_port',
  'accept_config','accept_commands',
  'max_anonymous_clients','cipher_list','tls_protocolmin',
  'connect_timeout',
  'access_control_allow_origin',
  'environment'
  ]
%}

object ApiListener "api" {
{% for key, value in icinga2_api.items() | sort %}
  {% if key in _attr %}
    {% if key == 'ticket_salt' and
          icinga2_mode == 'master' and
          icinga2_primary_master == ansible_fqdn %}
  ticket_salt     = {{ icinga2_api.ticket_salt }}
    {% else %}
      {% if key in [ "bind_host", "bind_port"] %}
  {{ "%-18s" | format(key,) }} = "{{ value }}"
      {% elif value is string %}
  {{ "%-18s" | format(key,) }} = {{ value }}
      {% elif value | bodsch.core.type == "bool" %}
  {{ "%-18s" | format(key,) }} = {{ value | bodsch.core.config_bool(true_as='true', false_as='false') }}
      {% elif value is iterable %}
  {{ "%-18s" | format(key,) }} = {{ value | join(':') }}
      {% else %}
  {{ "%-18s" | format(key,) }} = {{ value }}
      {% endif %}
    {% endif %}
  {% endif %}
{% endfor %}
}
