// {{ ansible_managed }}

object ApiListener "api" {
  accept_config   = {{ icinga2_api_accept_config | bool | ternary('true', 'false') }}
  accept_commands = {{ icinga2_api_accept_commands | bool | ternary('true', 'false') }}
  ticket_salt     = {{ icinga2_api_ticket_salt }}
}
