#jinja2: trim_blocks: True, lstrip_blocks: True
// {{ ansible_managed }}
{# https://icinga.com/docs/icinga2/latest/doc/09-object-types/#gelfwriter #}

{% set _attr = ['host','port','source',
  'enable_send_perfdata','enable_tls','ca_path','cert_path','key_path',
  'enable_ha'] %}

{% if icinga2_features.gelf is defined and
      icinga2_features.gelf.host is defined %}
object GelfWriter "gelf" {
  {% if icinga2_features.gelf is defined and
        icinga2_features.gelf | count != 0 %}
    {% for k, v in icinga2_features.gelf.items() %}
      {% if k in _attr %}
        {% if v | bodsch.core.type == "bool" %}
  {{ k }} = {{ v | bodsch.core.config_bool(true_as='true', false_as='false') }}
        {% elif k | bodsch.core.type == "str" %}
  {{ k }} = "{{ v }}"
        {% else %}
  {{ k }} = {{ v }}
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endif %}
}
{% endif %}
