{{ ansible_managed | comment(decoration='// ') }}

library "db_ido_mysql"

object IdoMysqlConnection "ido-mysql" {
  user     = "{{ icinga2_ido_username }}"
  password = "{{ icinga2_ido_password }}"
  host     = "{{ icinga2_ido_host }}"
  database = "{{ icinga2_ido_database }}"
  port     = "{{ icinga2_ido_port | default('3306') }}"
}
