---

- name: define gelf feature state
  set_fact:
    feature_gelf_state: "{{ 'present' if icinga2_master_features_enabled | join('|') | regex_search('gelf') else 'absent' }}"

- name: configure gelf feature
  template:
    src: etc/icinga2/features/gelf.conf.j2
    dest: /etc/icinga2/features-available/gelf.conf
    owner: root
    group: root
    mode: 0644

- name: enable gelf feature
  icinga2_feature:
    name: gelf
    state: "{{ feature_gelf_state }}"
  notify:
    - check configuration
    - restart icinga2
  tags:
    - icinga2
    - features
