#jinja2: trim_blocks: True, lstrip_blocks: True
// {{ ansible_managed }}

object EventCommand "restart_service" {

  command = [ PluginDir + "/restart_service" ]

  arguments = {

    "--state" = {
      value = "$service.state$"
    }
    "--state-type" = {
      value = "$service.state_type$"
    }
    "--attempt" = {
      value = "$service.check_attempt$"
    }
    "--restart-service" = {
      value = "$restart_service$"
    }
    "--host-name" = {
       value = "$host.name$"
    }
    "--host-state" = {
       value = "$host.state$"
    }
    "--host-state-type" = {
       value = "$host.state_type$"
    }

  }

  vars.restart_service = "$restart_service$"
}
