#jinja2: trim_blocks: True, lstrip_blocks: True
// {{ ansible_managed }}

{% if icinga2_notification_templates  is defined and
      icinga2_notification_templates | count > 0 %}
  {% for n, data in icinga2_notification_templates.items() %}
    {% if data['description'] is defined %}
// {{ data['description'] }}
      {% set _ = data.pop('description') %}
    {% endif %}
template Notification "{{ n }}" {
    {% for key, value in data.items() %}
      {% if key in ["command", "period"] %}
  {{ key }} = "{{ value  }}"
      {% elif key in ["states","types"] %}
  {{ key }} = [  {{ value | join(', ') }} ]
      {% elif key == 'extra_parameters' %}
  {{ value | indent(2) }}
      {% endif %}
    {% endfor %}
}

  {% endfor %}
{% endif %}
