#!/bin/bash
{{ ansible_managed | comment }}
## backup script for icinga2

# set -e

CONFIG="/usr/local/etc/backup.config"

export PATH=/usr/sbin:/usr/bin:/sbin:/bin
umask 022

datenow=$(date +%s)
date=$(date +%Y-%m-%d)

mysqlbackup=true

if [[ -f ${CONFIG} ]]
then
  . ${CONFIG}
else
  backup_base_directory=/usr/local/backup/icinga2
  backup_dirs="
    /etc/icinga2 \
    /var/lib/icinga2"
fi

if [[ ! -d ${backup_base_directory} ]]
then
  mkdir -p ${backup_base_directory}
fi

# ---------------------------------------------------------------------------------------

f="${backup_base_directory}/${datenow}_backup-icinga2.tar.bz2"

if [[ $mysqlbackup ]]
then
  mysqldump \
    --host={{ icinga2_ido.host }} \
    --user={{ icinga2_ido.user }} \
    --password={{ icinga2_ido.password }} \
    --add-drop-database \
    --add-drop-table \
    --opt \
    --single-transaction \
    --databases {{ icinga2_ido.database }} \
    > ${backup_base_directory}/${datenow}_mysqldumpall.sql
fi

## create backup
tar \
  --create \
  --bzip2 \
  --file \
  "${f}" \
  ${backup_dirs} > /dev/null 2>&1

## test backup
tar \
  --list \
  --bzip2 \
  --file \
  "${f}" > /dev/null

return=$?
if [[ $return != 0 ]]
then
  echo "Testing of ${f} failed!"
  exit 1
fi

sha512sum ${f} > ${f}.sha512

ln --force --symbolic \
  ${f} \
  ${backup_base_directory}/latest.tar.bz2

ln --force --symbolic \
  ${f}.sha512 \
  ${backup_base_directory}/latest.tar.bz2.sha512

