#jinja2: trim_blocks: True, lstrip_blocks: True
// {{ ansible_managed }}
{% set endpoint = false %}
{% if icinga2_host_object is defined and
      icinga2_host_object | count != 0 %}
  {#
    define some variables from 'icinga2_host_object' dictionary
  #}
  {% for key, values in icinga2_host_object.items() %}
    {% set address = icinga2_masters | dns_icinga_primary(
            object_name=key,
            object_data=values,
            alternatives=[key, ansible_fqdn]) %}
    {% set values, endpoint, endpoint_name, zone_name, display_name, check_command, _ = values | host_object_values(True, key, None) %}
{#
    endpoint_name {{ endpoint_name }} - {{ endpoint_name | bodsch.core.type }}
    zone_name     {{ zone_name }}     - {{ zone_name | bodsch.core.type }}
    display_name  {{ display_name }}  - {{ display_name | bodsch.core.type }}
    check_command {{ check_command }} - {{ check_command | bodsch.core.type }}
    address       {{ address }}       - {{ address | bodsch.core.type }}
    -> {{ values }}
#}

// icinga2 secondary - {{ key }}
object Host "{{ key }}" {
    {% if address is defined and address | string | length > 0 %}
  address = "{{ address }}"
    {% endif %}
    {% if check_command and check_command | string | length > 0 %}
  check_command = "{{ check_command }}"
    {% endif %}
    {% if display_name and display_name | string | length > 0 %}
  display_name = "{{ display_name }}"
    {% endif %}
    {% if endpoint %}
  command_endpoint = "{{ endpoint_name }}"
    {% endif %}
    {% if zone_name and zone_name | string | length > 0 %}
  zone = "{{ zone_name }}"
    {% endif %}
    {% if values | bodsch.core.type == "dict" %}
      {% for ke, ve in values.items() | sort %}
        {% if ke == 'import' %}
  {{ ke }} "{{ ve }}"
        {% elif ke == 'groups' %}
  {{ ke }} = ["{{ ve | join('","') }}"]
        {% elif ke == 'vars' %}
  vars = {
    {{ ve | indent(4) }}
  }
        {% else %}
  {{ ke }} = "{{ ve }}"
        {% endif %}
      {% endfor %}
    {% endif %}
}
  {% endfor %}
{% endif %}
