// {{ ansible_managed }}

{% if icinga2_api_user is defined and icinga2_api_user | count != 0 -%}
{% for key  in icinga2_api_user -%}
object ApiUser "{{ key }}" { {% for k,v in icinga2_api_user[key].items() -%} {% if k == 'permissions' %}{{ k }} = ["{{ v|join('","') }}"]; {% else %}{{ k }} = "{{ v }}"; {% endif -%} {% endfor %} }
{% endfor %}
{% endif %}
